// Navigation code here
.main-navigation {
    width: 100%;
    height: 90%;
   
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        margin-bottom: 1rem;
        
        
        @media @mobile {
          width: 100%;

        }
    
        .heading {
            font-size: 3rem;
            margin-bottom: 3rem;

          @media @mobile {
            width: 80%;
          }
        }
    
        .nav {
          width: 45%;
          display: flex;
          justify-content: space-around;
        
    
          @media @mobile {
              width: 100%;
              justify-content: space-around;
              align-content: center;

          
          }

        

          a {
            font-size: 1.7rem;
            text-decoration: none;
            align-content: center;

           &:hover {
               text-decoration: underline;
               text-decoration: black;
           }


          }
        }
      }
    } 